$def_black: hsla(0, 0%, 0%, 0.8);
$def_black-hov: hsla(0, 0%, 0%, 0.8);
$def_black-act-foc: hsla(0, 0%, 0%, 1);
$def_border-hov-atc-foc: 1px solid hsla(0, 0%, 100%, 0.25);

@mixin hov-sct-foc(
  $hov-bg: $def_black-hov,
  $act-foc: $def_black-act-foc,
  $border: $def_border-hov-atc-foc
) {
  &:hover {
    background: $hov-bg;
    border: $border;
  }
  &:active,
  &:focus {
    background: $act-foc;
    border: $border;
  }
}
