*.bd_01xv {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  border-radius: 12px;
  transition: background 250ms ease;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  background: hsla(231, 23%, 16%, 0.75);
  border: none;

  &#filter-trigger {
    height: 40px !important;
    width: 116px !important;
    padding: 0;
  }

  span {
    display: inline;
    position: relative;
    pointer-events: none;

    &.bd_01xv_c_i {
      height: 16px;
      width: 16px;

      svg {
        position: absolute;
        height: 16px;
        width: 16px;
        left: 0;
        transition: transform 150ms ease;

        path {
          fill: hsl(0, 0%, 100%);
        }
      }
    }
  }

  &.ta_065ra-search-sibling {
    background: hsla(231, 23%, 16%, 0.75);
    transition: background 150ms ease, border 150ms ease;
    width: 50px;
    height: 50px;

    .bd_01xv_c_i {
      svg {
        transition: transform 250ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }

    &:hover {
      .bd_01xv_c_i {
        svg {
          transform: rotate(15deg) scale(1.1);
        }
      }
    }
  }

  &.flipped {
    span[data-svg-item='caretDown'] {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
