.dl_012x {
  background: hsla(231, 23%, 16%, 0.75);
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  user-select: none;
  margin-top: 0rem;
  transition: margin-top 100ms ease, opacity 100ms ease;
  opacity: 0;
  pointer-events: none;

  .dl_012x_item {
    border-radius: 7px;
    padding: 0.375rem 0.75rem;
    transition: background 150ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      &.dl_012x_item_c_i {
        height: 16px;
        width: 16px;
      }
    }

    &:hover {
      background: hsla(0, 0%, 100%, 0.1);
    }
    &:active {
      background: hsla(0, 0%, 100%, 0.15);
    }

    &.dl_active {
      background: hsla(0, 0%, 100%, 0.15);
    }
  }

  &.dl_012x-triggered {
    pointer-events: all;
    margin-top: 0.75rem;
    opacity: 1;
  }

  &.dl_pos-right {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      right: 1.15rem;
      border-top: 0 solid hsla(0deg, 0%, 0%, 0%);
      border-left: 6px solid hsla(0deg, 0%, 0%, 0%);
      border-right: 6px solid hsla(0deg, 0%, 0%, 0%);
      border-bottom: 6px solid hsla(231, 23%, 16%, 0.75);
      display: inline-block;
      height: 0;
      vertical-align: middle;
      width: 0;
    }
  }
}
