.navbar_mn {
  position: fixed;
  height: 100vh;
  width: fit-content;
  background: $dark-col;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav_sec {
    padding: 8px;
    display: flex;
    gap: 16px;
    flex-direction: column;

    a {
      color: rgba(255, 255, 255, 1);

      .icon {
        span {
          display: block;
          height: 32px;
          width: 32px;
        }
      }
    }
  }
}
